*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.hg/undo.backup.dirstate
.hg/undo.bookmarks
.hg/undo.branch
.hg/undo.desc
.hg/undo.dirstate
.hg/cache/branch2-served
.hg/cache/rbc-names-v1
.hg/cache/rbc-revs-v1
.hg/cache/tags2-visible
.hg/store/00manifest.i
.hg/store/fncache
.hg/store/phaseroots
.hg/store/undo
.hg/store/undo.backupfiles
.hg/store/undo.phaseroots
.hg/store/data/~2eidea/vcs.xml.i
